fieldset#main#main {
    width: 100vw;
    background-color: #000;
    /* top: 0; */
    /* left: 0; */
    margin: 0;
    background: white;
    margin-left: -348px;
}
.css-vb6dr5 {
    max-width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
}

.css-wde5mz {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -20px;
    color: hsl(205,100%,38%);
}

.css-19p07l1:link, .css-19p07l1:visited {
    color: #FFF;
}

.css-1yuhvjn {
    margin-top: 16px;
}

.css-18p1y7y {
    white-space: pre-line;
    margin: 0;
    padding: 0;
    display: block;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: hsl(0,0%,20%);
}

h2.css-qb2v8g {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: hsl(0,0%,20%);
}

.css-oxzxea {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

@media (min-width: 993px)
{

    .css-3l1sj1 {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-left: 32px;
        padding-right: 32px;
    }
    

}

.css-3l1sj1 {
    width: 100%;
    max-height: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 16px;
    margin: 0 auto;
}

@media (min-width: 993px)
{
    .css-1892x3t {
        width: 67%;
        padding-right: 32px;
    }
}


.css-1892x3t {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    box-sizing: border-box;
    width: 100%;
}
@media (min-width: 993px)
{
    .css-1892x3t {
        width: 67%;
        padding-right: 32px;
    }
}


.css-1892x3t {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 992px)
{
    .css-92dg0j {
        display: none;
    }
    
}

.css-1g504a5 {
    width: 100vw;
    background: hsl(0,0%,100%);
    margin-left: -16px;
    z-index: 102;
}

.css-1jke4yk {
    position: relative;
    width: 100%;
}

.css-1t2c0s1 {
    display: block;
    position: relative;
    z-index: 2;
}

.css-19p07l1:link, .css-19p07l1:visited {
    color: #FFF;
}


.css-1mlv8du {
    position: absolute;
    text-align: center;
    top: 0;
    left: 50%;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


.css-1vgk0gh {
    white-space: pre-line;
    margin: 0;
    padding: 0;
    display: block;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: hsl(0,0%,20%);
}

@media (min-width: 992px)
{
    .css-92dg0j {
        display: none;
    }
}


h2.css-qb2v8g {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: hsl(0,0%,20%);
}

form {
    display: block;
    margin-top: 0em;
}

@media (min-width: 992px)
{
    .css-1lgroug {
        max-width: 445px;
    }
}


@media (min-width: 992px)
{
    .css-92dg0j {
        display: none;
    }
}


.css-mifb2i {
    display: flex;
    margin-top: 16px;
}

.css-1yg2mdt {
    margin-right: 16px;
    margin-top: 8px;
}

.css-8atqhb {
    width: 100%;
}

.css-1xlzx9v {
    margin-top: 8px;
    margin-bottom: 8px;
}

.css-1vgk0gh {
    white-space: pre-line;
    margin: 0;
    padding: 0;
    display: block;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: hsl(0,0%,20%);
}

.css-18p1y7y {
    white-space: pre-line;
    margin: 0;
    padding: 0;
    display: block;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: hsl(0,0%,20%);
}

.css-mifb2i {
    display: flex;
    margin-top: 16px;
}

.css-120os50 {
    margin: 0px 0px 16px 0px;
}

.css-mj2shq {
    margin: 16px 0px;
}

.css-6knrg7 {
    white-space: pre-line;
    margin: 0;
    padding: 0;
    display: block;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: hsl(0,0%,20%);
}


.css-mj2shq {
    margin: 16px 0px;
}


.css-1nk1cbk {
    margin: 0px 0px 8px;
}

.css-n569jk {
    margin: 8px 0px 16px 0px;
}

.css-gg4vpm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.css-5pg80m:last-child {
    margin-bottom: 0;
}
.css-5pg80m {
    width: 100%;
    padding: 12px 16px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: hsl(0,0%,20%);
    border: 1px solid hsl(0,0%,74.1%);
    border-radius: 6px;
    margin: 8px 0;
}


.css-n569jk {
    margin: 8px 0px 16px 0px;
}

.css-gg4vpm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.css-5pg80m:last-child {
    margin-bottom: 0;
}

.css-uyyx0t {
    border: 1px solid hsl(0,0%,90.2%);
    margin: 0;
}

.css-178yklu {
    margin-top: 24px;
}

.css-19ceb8l {
    margin: 0px 0px 24px;
}

.css-4rqfmi {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: hsl(0,0%,20%);
    margin-bottom: 12px;
    margin-bottom: 4px;
    margin-top: 16px;
    color: hsl(0,0%,20%);
}

.css-1sbt5ka {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: hsl(0,0%,20%);
    margin: 0;
}


.css-4rqfmi {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: hsl(0,0%,20%);
    margin-bottom: 12px;
    margin-bottom: 4px;
    margin-top: 16px;
    color: hsl(0,0%,20%);
}

.css-1sbt5ka {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: hsl(0,0%,20%);
    margin: 0;
}



.css-4rqfmi {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: hsl(0,0%,20%);
    margin-bottom: 12px;
    margin-bottom: 4px;
    margin-top: 16px;
    color: hsl(0,0%,20%);
}

.css-1sbt5ka {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: hsl(0,0%,20%);
    margin: 0;
}



input[type="submit" i] {
    appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

.css-1aui7uw {
    margin-bottom: 32px;
    padding-bottom: 32px;
}


.css-hc030e {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background-color: transparent;
    font: inherit;
    line-height: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    pointer-events: all;
    border-radius: 6px;
    padding: 0 12px;
    outline: 0;
    margin: 0;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: none;
    overflow: visible;
    touch-action: manipulation;
    border: none;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: hsl(0,0%,20%);
    vertical-align: baseline;
    position: relative;
    font-weight: normal;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFF;
    background-color: hsl(205,100%,38%);
    width: 100%;
    padding: 0 16px;
    height: 48px;
    font-size: 16px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}



@media (min-width: 992px)
{
    .css-92dg0j {
        display: none;
    }
}



@media (min-width: 992px)
{
    .css-19mr1tx {
        max-width: 445px;
    }
}
.css-19mr1tx {
    margin-bottom: 24px;
}


.css-1w4tquc {
    border-top: 1px solid hsl(0,0%,90.2%);
    padding: 0 16px;
    margin-left: -16px;
    width: 100vw;
    background: hsl(0,0%,100%);
}




























@media (min-width: 993px){
    .css-37ds6r {
        width: 33%;
    }
}

.css-1qxslmw {
    position: fixed;
    z-index: 101;
    background-color: hsl(0,0%,100%);
    visibility: hidden;
    position: absolute;
    width: 0;
}

.css-55hyir {
    z-index: 101;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    width: 0px;
    top: unset;
    bottom: 0px;
}

.css-1eib43e {
    margin: 0px;
}

.css-mj2shq {
    margin: 16px 0px;
}

.css-1gfl9a5 {
    white-space: pre-line;
    display: block;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: rgb(51, 51, 51);
    margin: 0px;
    padding: 0px;
}

.css-skkly2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.large .css-1vsmjje {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: rgb(51, 51, 51);
}

.css-1sh5juu {
    white-space: pre-line;
    display: block;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgb(51, 51, 51);
    margin: 0px;
    padding: 0px;
}


.css-skkly2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.small .css-1xpmvh7 {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgb(51, 51, 51);
}


.css-hc030e {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background-color: transparent;
    font: inherit;
    line-height: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    pointer-events: all;
    border-radius: 6px;
    padding: 0 12px;
    outline: 0;
    margin: 0;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: none;
    overflow: visible;
    touch-action: manipulation;
    border: none;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: hsl(0,0%,20%);
    vertical-align: baseline;
    position: relative;
    font-weight: normal;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFF;
    background-color: hsl(205,100%,38%);
    width: 100%;
    padding: 0 16px;
    height: 48px;
    font-size: 16px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.css-14f60nc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0px;
}