




.css-wf0su7 {
    margin-bottom: 16px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 2px;
    padding: 16px;
    background: rgb(250, 252, 255);
    border-color: rgb(0, 113, 194);
}

.css-gg4vpm {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-19ldw5v {
    margin-top: 8px;
    margin-bottom: 16px;
}

.css-1cx5zag {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
}

.css-x0qsx1 {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: rgb(51, 51, 51);
    margin: 0px;
}

.css-knguxb {
    padding-left: 16px;
    display: flex;
    place-content: flex-end;
}

.css-110jmmw {
    color: rgb(0, 113, 194);
    white-space: nowrap;
}

.css-gg4vpm {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media (min-width: 576px)
{
    .css-fg70dr {
        display: block;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}


.css-efqvk9 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 16px 8px 0;
}

.css-1eib43e {
    margin: 0px;
}

.css-3qni7c {
    margin: 16px 0px 8px;
}

.css-1vgk0gh {
    white-space: pre-line;
    margin: 0;
    padding: 0;
    display: block;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: hsl(0,0%,20%);
}

.css-1fvf6y0:last-of-type {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}


.css-1fvf6y0 {
    width: 100%;
    margin-bottom: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.css-mj2shq {
    margin: 16px 0px;
}

.css-d0w81h {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-image: initial;
    margin: 0px -16px;
}


.css-1cx5zag {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
}

.css-j7qwjs {
    display: flex;
    flex-direction: column;
}


.css-1sh5juu {
    white-space: pre-line;
    display: block;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgb(51, 51, 51);
    margin: 0px;
    padding: 0px;
}

.css-1ultjej:first-of-type {
    margin-top: 0px;
}


.css-1ultjej {
    margin-top: 24px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-18p1y7y {
    white-space: pre-line;
    margin: 0;
    padding: 0;
    display: block;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: hsl(0,0%,20%);
}

.css-1ikr54u {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.css-lepz45 {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgb(51, 51, 51);
    padding: 0px;
}

.css-1rz3e28 {
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 44px;
    padding-left: 32px;
}


.css-1gfl9a5 {
    white-space: pre-line;
    display: block;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: rgb(51, 51, 51);
    margin: 0px;
    padding: 0px;
}

.css-5c2d0g {
    width: 44px;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 113, 194);
    border-image: initial;
    background: rgb(255, 255, 255);
}

.css-yk1xyp {
    width: 44px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.css-b3qk33 {
    width: 44px;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: not-allowed;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    background: rgb(255, 255, 255);
    border-color: rgb(189, 189, 189);
}

.css-yk1xyp {
    width: 44px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.css-1gfl9a5 {
    white-space: pre-line;
    display: block;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: rgb(51, 51, 51);
    margin: 0px;
    padding: 0px;
}

.css-1gfl9a5 {
    white-space: pre-line;
    display: block;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: rgb(51, 51, 51);
    margin: 0px;
    padding: 0px;
}



.css-19f3u6r {
    width: 50%;
    padding-left: 32px;
}

.css-hc030e {
    appearance: none;
    pointer-events: all;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    user-select: none;
    text-transform: none;
    touch-action: manipulation;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: baseline;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 113, 194);
    width: 100%;
    height: 48px;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    font: inherit inherit inherit inherit inherit;
    border-radius: 6px;
    outline: 0px;
    margin: 0px;
    text-decoration: none;
    overflow: visible;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px 16px;
}




















